*
{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.navlist
{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color: #333;
}
.navlist li
{
    float:left;
}
li a
{
    align-items: center;
    display:block;
    color: white;
    text-decoration: none;
   
    padding: 14px 16px;
    
}
li a:hover
{
    background-color: #111;
}
.title
{
    display:block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: bolder;
}
input[type=text] {
  
  padding: 12px;
  padding-inline-start: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}
input[type=tel] {
  padding: 12px;
  padding-inline-start: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email] {
  padding-inline-start: 10%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=date] {
  padding: 12px;
  padding-inline-start: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container{
  border-radius: 40px;
  background-color: rgb(198, 198, 199);

 align-items: center;
  width: 40%;
  display: flex;
  justify-content: center;
  position: relative;
  right: 30%;
  left: 30%;
margin-top: 5%;
padding-top: 2% ;
 }
 body{
   background-color: white;
 }
 .topnav {
  background-color:rgb(59, 112, 176);
  overflow: hidden;
}



.input-icons i {
  position: relative;
  top: 37px;
  left: -85px;
margin-right: 5% ;
margin-left: 5%;
color: rgb(230, 12, 12);
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  min-width: 50px;
  margin: 20px;
  position: absolute;
 
}

.input-field {
  width: 80%;
  padding: 10px;
  text-align: center;
}
button
{
    width: 120px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border-radius: 20px;
    background-color: #ff3333;
    border:none;
    color:white;
}
button:hover
{
    background-color:#ff6666 ;
}